* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #F5F5F5;
	font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #707070;
}

a {
    text-decoration: none;
    color: #000;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

td {
    &::before {
        box-sizing: border-box;
    }
}

input {
    border: none;
    display: block;
    outline: none;

    &::placeholder {
        color: #B3B3B3;
    }
}

textarea {
    background: #fff;
    border-radius: 12px;
    border: none;
    resize: none;
    height: 110px;
    padding: 10px 18px;

    &::placeholder {
        color: #707070;
    }
}

h1 {
    font-size: 60px;
    color: #25B6F3;
}

.bold {
    font-weight: 600;
}

.container {
    width: calc(100% - 120px);
    margin: 0 auto;
}

/* -------------  Header  ---------------- */

.header {
    background: #fff;
    padding: 33px 0 15px;
    &_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &_title {
        margin-bottom: 12px;
    }
    &_author {
        font-size: 28px;
        margin-bottom: 34px;
    }

    &_search {
        border: 1px solid #C5C5C5;
        box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.16);
        border-radius: 6px;
        width: 350px;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            left: 14px;
            top: 50%;
            transform: translateY(-50%);
            pointer-events: none;
        }

        input {
            height: 40px;
            padding-left: 42px;
            width: 100%;
        }
    }

    &_date {
        font-size: 36px;
        color: #707070;
        margin-bottom: 7px;
    }

    &_right {
        display: flex;
        align-items: flex-start;
        gap: 50px;

        &_names {
            text-align: right;
        }

        &_name {
            font-size: 26px;
        }

        &_time {
            display: flex;
            align-items: flex-start;
            gap: 15px;

            img {
                margin-top: 15px;
            }
            span {
                font-size: 62px;
            }
        }
    }
    
}


/* -------------  Table  ---------------- */

.table {
    background: #F5F5F5;
    border-top: 1px solid #959595;

    &_wrap {
        overflow: auto;
    }

    table {
        width: 100%;
        border-collapse:separate; 
        border-spacing: 0 5px;

        &.tasks {
            tbody td {
                &.index {
                    padding-left: 74px;
                    &::before {
                        width: 46px;
                    }
                }
            }
        }

        thead tr {
            th {
                padding-top: 10px;
                padding-bottom: 7px;
                padding-left: 20px;
                padding-right: 12px;
            }
        }

        tbody tr {
            background: #fff;
            border: 1px solid #C5C5C5;
            box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.0509804);
            border-radius: 6px;
            cursor: pointer;

            &.status-green {
                .index {
                    &:before {
                        background: #46CE54;
                        border: none;
                    }
                }

                .progress_wrap {
                    border-color: #46CE54;
                }

                .progress_bar, .progress_box {
                    background: #46CE54;
                }
            }

            &.status-blue {
                .index {
                    &:before {
                        background: #267DE1;
                        border: none;
                    }
                }

                .progress_bar {
                    background: #267DE1;
                }
            }

            &.status-yellow {
                .index {
                    &:before {
                        background: #F8B600;
                        border: none;
                    }
                }

                .progress_wrap {
                    border-color: #F8B600;
                }

                .progress_bar, .progress_box {
                    background: #F8B600;
                }
            }

            &.status-gray {
                .index {
                    &:before {
                        background: #707070;
                        border: none;
                    }
                }

                .progress_wrap {
                    border-color: #707070;
                }

                .progress_bar, .progress_box {
                    background: #707070;
                }
            }

            &.status-white {
                .index {
                    &:before {
                        background: none;
                        border: 2px solid #959595;
                    }
                }

                .progress_wrap {
                    border-color: #959595;
                }

                .progress_bar, .progress_box {
                    background: #959595;
                }
            }

            td {
                border-top: 1px solid #C5C5C5;
                border-bottom: 1px solid #C5C5C5;
                padding-top: 12px;
                padding-bottom: 15px;
                padding-left: 20px;
                padding-right: 20px;
                overflow: hidden;
                position: relative;
                font-size: 12px;
                color: #707070;
                white-space: nowrap;

                &:after {
                    content: '';
                    background: #CBCBCB;
                    width: 1px;
                    height: 60px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);

                }

                &.index {
                    position: relative;
                    padding-left: 34px;

                    &.blue {
                        &:before {
                            background: #267DE1;
                            border: none;
                        }
                    }

                    &.yellow {
                        &:before {
                            background: #F8B600;
                            border: none;
                        }
                    }

                    &.black {
                        &:before {
                            background: #707070;
                            border: none;
                        }
                    }

                    &.green {
                        &:before {
                            background: #46CE54;
                            border: none;
                        }
                    }
                    
                    &::before {
                        content: '';
                        background: none;
                        border: 2px solid #959595;
                        border-top-left-radius: 6px;
                        border-bottom-left-radius: 6px;
                        width: 14px;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }

            td:first-child {
                border-top-left-radius: 6px; 
                border-bottom-left-radius: 6px;
                border: 1px solid #C5C5C5;
                border-right: none;
            }
            
            td:last-child {
                border-top-right-radius: 6px; 
                border-bottom-right-radius: 6px; 
                border: 1px solid #C5C5C5;
                border-left: none;

                &:after {
                    display: none;
                }
            }
        }

        &_header {
            background: none;
        }
    }

    &_name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        color: #707070;
        text-align: left;

        &.active {
            img {
                transform: rotate(180deg);
            }
        }

        img {
            cursor: pointer;

        }
    }

    .progress {
        padding: 11px 15px 11px 12px;
        width: 30%;

        &_wrap {
            border: 2px solid #46CE54;
            box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.160784);
            border-radius: 6px;
            padding: 3px;
            position: relative;
            overflow: hidden;
            z-index: 1;
        }

        &_bar {
            background: #46CE54;
            width: 50%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }

        &_box {
            background: #46CE54;
            width: 94px;
            border: 2px solid #FFFFFF;
            box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.160784);
            border-radius: 6px;
            margin-left: auto;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 18px;
            color: #fff;
        }
    }
}

.company-name {
    font-size: 14px;
    font-weight: 600;
}

.status {
    font-weight: 600;

    &_select {
        background: #FFFFFF;
        border: 1px solid #C5C5C5;
        box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.160784);
        border-radius: 6px;
        padding: 8px;
    }
    &.green {
        color: #46CE54;
    }
    &.yellow {
        color: #F8B600;
    }
    &.gray {
        color: #707070;
    }
    &.blue {
        color: #267DE1;
    }
    &.red {
        color: #D81111;
    }
}

/* -------------  Modal  ---------------- */

.modal {
    background: rgba(0,0,0,0.2);
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    display: none;

    &.show {
        display: flex;
    }

    &_content {
        background: #FFFFFF;
        border: 1px solid #CBCBCB;
        box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.160784);
        backdrop-filter: blur(14.5px);
        border-radius: 6px;
        top: 30px;
        margin: 0 auto;
        width: 600px;
        padding: 30px 20px;
        height: 90%;
        overflow: scroll;
    }

    &_head {
        margin-bottom: 14px;

        &_top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 7px;
        }
        &_right {
            display: flex;
            align-items: center;
            gap: 6px;
        }
        &_dates {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        &_range {
            margin-bottom: 1px;
        }
        &_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            border-bottom: 1px solid #CBCBCB;
        }
    }

    &_body {
        &_tabs {
            display: flex;
            z-index: 2;
        }
        &_tab {
            background: #FFFFFF;
            border: 1px solid #E6E6E6;
            border-radius: 6px 6px 0px 0px;
            padding: 6px 15px;
            font-size: 14px;
            cursor: pointer;

            &.active {
                border-color: #CBCBCB;
                border-bottom: none;
                font-weight: 600;
            }
        }

        &_content {
            background: #FFFFFF;
            border: 1px solid #CBCBCB;
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.160784);
            border-radius: 0px 6px 6px 6px;
            min-height: 200px;
            margin-top: -1px;
        }
    }

    &_text {
        font-size: 14px;
        margin-bottom: 3px;
    }

    &_company {
        font-size: 18px;
        margin-top: 11px;
        margin-bottom: 2px;

        &_desc {
            margin-bottom: 2px;
        }
    }

    &_price {
        font-size: 16px;
        font-weight: 600;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            th {
                font-size: 12px;
                font-weight: 600;
                border-right: 1px solid #CBCBCB;
                height: 100%;
                padding: 8px 13px;
                text-align: left;
                border-bottom: 1px solid #CBCBCB;
            }
        }
        tbody {
            td {
                border-right: 1px solid #CBCBCB;
                border-bottom: 1px solid #CBCBCB;
                padding: 6px 13px 8px;
                font-size: 12px;
            }
        }
    }

    .stages {
        font-size: 12px;
        padding: 17px 22px;

        &_stage {
            border-left: 1px solid #CBCBCB;
            padding-bottom: 5px;

            &:last-child {
                border: none;
            }

            &_head {
                display: flex;
                align-items: center;
                font-weight: 600;
                gap: 5px;
                margin-bottom: 6px;
                padding-left: 16px;
                position: relative;
                cursor: pointer;

                &:before {
                    content: '';
                    background: #46CE54;
                    border: 4px solid #fff;
                    display: block;
                    top: 0;
                    left: -8px;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    position: absolute;
                }
            }
            
            &_part {
                margin-left: 33px;
                padding-bottom: 5px;

                .stages_stage_part {
                    margin-left: 18px;
                    margin-top: 3px;
                }

                &_head {
                    margin-bottom: 1px;
                    font-weight: 600;
                    color: #707070;
                    position: relative;

                    &:before {
                        content: '';
                        background: #46CE54;
                        display: block;
                        top: 6px;
                        left: -15px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        position: absolute;
                    }
                }

                &_body {
                    color: #959595;
                }

                &_boxes {
                    display: flex;
                    gap: 8px;
                    margin-top: 5px;
                }

                &_box {
                    background: #FFFFFF;
                    border: 1px solid #C5C5C5;
                    box-shadow: 0px 1px 0.5px rgba(0, 0, 0, 0.160784);
                    border-radius: 2px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 8px;
                }
            }
        }
    }

    &_table, &_stages {
        display: none;

        &.show {
            display: block;
        }
    }
}

@media screen and (max-width: 1440px) {
    .container {
        width: calc(100% - 60px);
    }
    .header {
        &.tasks {
            .header_title {
                font-size: 50px;
            }
        }
    }
    .table {
        table {
            thead tr th {
                padding-left: 8px;
                padding-right: 8px;
            }
            tbody tr td {
                padding-left: 10px;
                padding-right: 10px;
                white-space: initial;

                &.index {
                    padding-left: 24px;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .header {
        &.tasks {
            .header {
                &_right {
                    flex-direction: column;
                    align-items: flex-end;
                    gap: 0;

                    &_name {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 40px;
    }
    .header {
        &_date {
            font-size: 24px;
        }
        &_search {
            width: 300px;
            input {
                height: 32px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
    .header {
        &_wrap {
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
        }
        &_search {
            width: 100%;
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        &_title {
            font-size: 40px !important;
        }
        &_author {
            font-size: 18px;
        }
        &_date {
            font-size: 18px;
        }
        &_right {
            &_time {
                img {
                    margin-top: 5px;
                    width: 36px;
                }
                span {
                    font-size: 36px;
                }
            }
        }
    }
}